---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=1499&currency=usd&description=Unlimited+Access+1+Year&source=tok_19yQsmKSEf5qLSTcb23fFbSI
    headers:
      Authorization:
      - Bearer sk_test_iRwccJ8axNwHNXBkSMqFVQkY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-02-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_19yQtDKSEf5qLSTcCnwuHTlG",
          "object": "charge",
          "amount": 1499,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": "txn_19yQtDKSEf5qLSTcTQAU73vH",
          "captured": true,
          "created": 1489779451,
          "currency": "usd",
          "customer": null,
          "description": "Unlimited Access 1 Year",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_19yQtDKSEf5qLSTcCnwuHTlG/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_19yQsmKSEf5qLSTc1VexbsXT",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2018,
            "fingerprint": "DYMzpkXatTNpR2GU",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": "zach@pb.dev",
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_group": null
        }
  recorded_at: Fri, 17 Mar 2017 19:37:31 GMT
recorded_with: VCR 3.0.3
