---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=1499&currency=usd&description=Unlimited+Access+1+Year&source=tok_bad_token
    headers:
      Authorization:
      - Bearer sk_test_xxx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-02-14'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "No such token: tok_bad_token",
            "param": "source"
          }
        }
  recorded_at: Fri, 17 Mar 2017 19:38:32 GMT
recorded_with: VCR 3.0.3
